<!doctype html>
<html lang="en-us">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>
      {% block title %}{{ site_name | default("In Between") }}{% endblock %}
      {% block subtitle %}{% endblock %}
    </title>
    <meta name="author" content="Guilherme Guerra" />
    <meta name="description" content="my personal blog" />
    <meta name="keywords" content="life,tech,random" />
    {% block meta %}{% endblock %}
    <!-- <link rel="stylesheet" href="{{ url_for("static", file="style.css") }}" type="text/css" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora&family=Space+Mono&display=swap" />
    <!-- <link rel="stylesheet" href="{{ url_for("static", file="tufte.css") }}" type="text/css" /> -->
    {% endblock %}

  </head>
  <body>
    {# Top navigation bar #}
    {% block nav %}
    <header>
      <div class="logo_header">
        <a href="{{ url_for("index") }}">
          <h1 class="logo">In between</h1>
        </a>
      </div>

      <nav>
        <ul class="menu">
          <li><a href="{{ url_for("page", slug="about") }}">about</a></li>
          <li><a href="{{ url_for("index") }}">blog</a></li>
        </ul>
      </nav>
    </header>
    {% endblock %}
    {# Probably where most of the action will happen #}
    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      <p>In Between | Made with ♥ and <a href="http://emacs.love/weblorg">weblorg</a></p>
    </footer>
  </body>
</html>
