<!doctype html>
<html lang="en-us">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{{ site_name | default("In.comum") }}{% endblock %}
      {% block subtitle %}{% endblock %}
    </title>

    <meta name="author" content="Guilherme Guerra" />
    <meta name="description" content="my personal blog" />
    <meta name="keywords" content="life,tech,random" />
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for("static", file="dark.css") }}" />
    {% endblock %}

  </head>
  <body>
    {# Top navigation bar #}
    {% block nav %}
    <header>
      <div class="logo_header">
        <a href="{{ url_for("index") }}">
          <h1 class="logo">In.comum</h1>
        </a>
      </div>
    </header>
    {% endblock %}
    {# Probably where most of the action will happen #}
    <main>
      {% block intro %}{% endblock %}
      {% block main %}{% endblock %}
    </main>

    <footer>
      <p>In.comum is made with <span class='red'>♥</span> and <a href="http://emacs.love/weblorg">weblorg</a></p>
    </footer>
  </body>
  <script defer src="http://commento.comum.org/js/commento.js"></script>
</html>
